[user]
  name = rihitlab
  email = rihitlab@gmail.com

[color]
  ui = auto

[alias]
  st = status
  sw = switch
  co = checkout
  br = branch
  ci = commit
  lg = log --oneline --graph --decorate --all
  last = log -1 HEAD
  amend = commit --amend
  undo = reset --soft HEAD~1 # 最後のコミットを取消（ステージには残す）
  hist = log --graph --pretty=format:'%C(yellow)%h%Creset - %Cgreen%ad%Creset %C(cyan)%an%Creset %C(auto)%d%Creset %s' --date=short
  unstage = reset HEAD --

[push]
  default = simple

[pull]
  rebase = false # rebase中心の運用では true

[merge]
  tool = vimdiff
  conflictstyle = diff3

[rebase]
  autoStash = true

[diff]
  tool = vimdiff

[core]
  editor = code --wait
	excludesfile = /dotfiles/git/.gitignore_global
  autocrlf = input
  filemode = true

[init]
  defaultBranch = main
